.contact{
    background:url(../images/bg3.jpg);
    background-size: cover;
    background-position: center;
    .contact-form{
        padding:75px 50px;
        border:15px solid #fff;
        max-width:500px;
        background:#fff;
        box-shadow: 0 15px 50px rgba(0,0,0,0.1);
        margin-top:60px;
        
        h3{
            color:#111;
            font-size:1.2em;
            margin-bottom: 20px;
            font-weight:600;
        }
        .input-box{
            position: relative;
            width:100%;
            margin-bottom:20px;
            input,textarea{
                width:100%;
                outline:none;
                border:1px solid #555;
                color:#111;
                font-size:16px;
                font-weight:300;
                padding:15px;
                resize:none;
                font-family: "Poppins",sans-serif;
                
            }
            input[type="submit"]{
                max-width:100px;
                color:#fff;
                padding:12px 20px;
                background:#ff0157;
                font-weight:500;
                letter-spacing: 2px;
                text-transform: uppercase;
                transition:0.5s ease;
                border:none;
                cursor:pointer;
            }
        }
    }
} 