footer{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top:2px solid rgba(0,0,0,0.1);
    padding: 10px 0; 
    
    p{
        
        color:#333;
        a{
            color:#ff0157;
            font-weight:600;
            font-size:1em;
        }
    }
}