* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins",sans-serif;
}

p {
  font-weight: 400;
  color: #111;
  font-size: 1.25em;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

section {
  padding: 120px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 1000;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

header nav {
  height: 12vh;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

header .navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navlinks li {
  margin-left: 30px;
}

header .navlinks a {
  color: #fff;
  font-size: 1.25em;
  font-weight: 400;
}

header .navlinks a:hover {
  color: #ff0157;
}

header.sticky {
  background: #fff;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header.sticky nav {
  height: 8vh;
}

header.sticky .logo {
  color: #111;
}

header.sticky .navlinks li a {
  color: #111;
}

header.sticky .navlinks li a:hover, header.sticky .navlinks li a.active {
  color: #ff0157;
}

.logo {
  font-size: 2em;
  font-weight: 700;
  color: #fff;
}

.logo span {
  color: #ff0157;
  font-weight: 600;
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../images/bg.jpg);
  background-size: cover;
}

.home .content-data {
  width: 900px;
  text-align: center;
}

.home .content-data h2 {
  font-size: 5em;
  color: #fff;
}

.home .content-data p {
  margin-top: .15rem;
  font-size: 1.05em;
  color: #fff;
}

.btn {
  color: #fff;
  background: #ff0157;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 10px 30px;
  margin-top: 20px;
  display: inline-block;
  text-transform: uppercase;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border-radius: 30px;
}

.btn:hover {
  letter-spacing: 6px;
  font-size: 1.25em;
}

.row {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row .col-50 {
  position: relative;
  width: 48%;
  margin-right: 50px;
}

.row .col-50 .imgbx {
  margin-top: 1rem;
  position: relative;
  width: 100%;
  height: 100%;
}

.row .col-50 .imgbx img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.row .col-50 .imgbx img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.title-text {
  font-size: 2.5em;
  font-weight: 300;
  color: #111;
}

.title-text span {
  color: #ff0157;
  font-weight: 700;
  font-size: 1.5em;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}

.content .card {
  width: 340px;
  margin: 20px;
  border: 15px solid #fff;
  -webkit-box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

.content .card .imgbx {
  width: 100%;
  height: 300px;
  position: relative;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.content .card .imgbx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

.content .card .imgbx:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.content h3 {
  padding: 15px 5px 10px;
  font-weight: 500;
  color: #111;
}

a.cta {
  margin-top: 30px;
  padding: 1rem 4.5rem;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.expert {
  margin-top: -3%;
}

.testimonial {
  margin-top: 5%;
  background: url(../images/bg2.jpg);
  background-size: cover;
}

.testimonial .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}

.testimonial .content .card-expert {
  width: 340px;
  margin: 20px;
  padding: 40px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonial .content .card-expert .imgbx {
  width: 80px;
  height: 80px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.testimonial .content .card-expert .imgbx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonial .content .text p {
  color: #666;
  text-align: center;
  font-style: italic;
  font-weight: 350;
}

.testimonial .content .text h3 {
  margin-top: 20px;
  text-align: center;
  color: #ff0157;
  font-weight: 700;
}

.white .title-text {
  color: #fff;
}

.white p {
  color: #fff;
}

.contact {
  background: url(../images/bg3.jpg);
  background-size: cover;
  background-position: center;
}

.contact .contact-form {
  padding: 75px 50px;
  border: 15px solid #fff;
  max-width: 500px;
  background: #fff;
  -webkit-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  margin-top: 60px;
}

.contact .contact-form h3 {
  color: #111;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 600;
}

.contact .contact-form .input-box {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.contact .contact-form .input-box input, .contact .contact-form .input-box textarea {
  width: 100%;
  outline: none;
  border: 1px solid #555;
  color: #111;
  font-size: 16px;
  font-weight: 300;
  padding: 15px;
  resize: none;
  font-family: "Poppins",sans-serif;
}

.contact .contact-form .input-box input[type="submit"] {
  max-width: 100px;
  color: #fff;
  padding: 12px 20px;
  background: #ff0157;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border: none;
  cursor: pointer;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

footer p {
  color: #333;
}

footer p a {
  color: #ff0157;
  font-weight: 600;
  font-size: 1em;
}
/*# sourceMappingURL=style.css.map */