
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family:"Poppins",sans-serif;
}


p{
    font-weight:400;
    color:#111;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
section{
    height:100vh;
    padding: 120px;
}
@import "home";
@import "about";